mat-form-field{
    display: block;
    width: 20%;
}

table {
    margin-top: 3%;
    width: 100%;
}

.form-field{
    display: inline;
    
}

.example-section{
    margin-top: 1%;
}

.div-action{
    float: right;
}
