<mat-card>
    <mat-card-content>
        
        <form [formGroup]="visit" (ngSubmit)="openDialog()">
            
            <mat-form-field appearance="outline">
                <mat-label>Motivo de visita</mat-label>
                <mat-select formControlName="motive">
                    <mat-option *ngFor="let mot of motive" [value]="mot.value">
                    {{mot.viewValue}}
                    </mat-option>
                </mat-select>
            
            </mat-form-field>   
            
            <button mat-stroked-button type="submit">Registrar visita</button>

        </form> 

        <table mat-table [dataSource]="turns.getData()" class="mat-elevation-z8">

            <ng-container matColumnDef="Posicion">
                <th mat-header-cell *matHeaderCellDef> Posicion. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="Estado">
                <th mat-header-cell *matHeaderCellDef> Estado de turno </th>
                <td mat-cell *matCellDef="let element" [ngStyle]="{'color':element.state === 'D' ? 'green' : 'red' }"> {{element.state=='D' ? 'Disponible' : (element.state=='L' ? 'Ocupado' : 'Ausente')}} </td>
            </ng-container>

            <ng-container matColumnDef="Hora registro">
                <th mat-header-cell *matHeaderCellDef> Hora registro </th>
                <td mat-cell *matCellDef="let element"> {{element.date }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
           <!--  <div class="col"> 
                <form [formGroup]="Form" class="container">
                    
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Motivo de visita</mat-label>
                        <mat-select formControlName="motive">
                            <mat-option *ngFor="let mot of motive" [value]="mot.value">
                            {{mot.viewValue}}
                            </mat-option>
                        </mat-select>
                    
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Nombre </mat-label>
                    <input matInput formControlName="firstName" >
                    
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Apellidos </mat-label>
                        <input matInput formControlName="lastName" >
                        
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Celular </mat-label>
                        <input matInput formControlName="cellphone" >
                    
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Correo </mat-label>
                    <input matInput formControlName="email" >
                    
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label>Vehiculo de interes</mat-label>
                        <mat-select formControlName="vh">
                            <mat-option *ngFor="let vh of vehicles" [value]="vh.vh_familia">
                            {{vh.descripcion}}
                            </mat-option>
                        </mat-select>
                    
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Uso de vehiculo </mat-label>
                        <mat-select formControlName="use_vh" name="food">
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                            </mat-option>
                        </mat-select>
                    
                    </mat-form-field>

                    <section  class="example-section">
                        <mat-checkbox formControlName="retoma">Retoma</mat-checkbox>
                    </section>

                    <section  class="example-section">
                        <mat-checkbox formControlName="financed">Financiado</mat-checkbox>
                    </section>

                    <button mat-raised-button color="primary" type="submit">Asingar turno</button>
                    
                </form> 
            </div> -->

            <!-- <div class="col"> 
                <div class="list-card">
                    <mat-card *ngFor="let item of turns.getData(); index as i" class="cardContainer">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{item.name}}</mat-card-title>
                            <mat-card-subtitle>Asesor comercial</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>Estado: Disponible</mat-card-content>

                    </mat-card>

                    
                </div>
            </div> -->
        
    </mat-card-content>
</mat-card>
