<mat-card>
    <mat-card-title>Registro de visitas</mat-card-title>
    <mat-card-subtitle>En esta seccion se registrara la visita de clientes</mat-card-subtitle>
    <mat-card-content>
        
        <form [formGroup]="visit" (ngSubmit)="openDialog()" *ngIf="hideForm==1">
            
            <mat-form-field appearance="outline">
                <mat-label>Motivo de visita</mat-label>
                <mat-select formControlName="motive">
                    <mat-option *ngFor="let mot of motive" [value]="mot.value">
                    {{mot.viewValue}}
                    </mat-option>
                </mat-select>
            
            </mat-form-field>   
            
            <button mat-stroked-button type="submit">Registrar visita</button>
            
        </form> 

        
        <button mat-stroked-button class="btn-download" *ngIf="hideVisit" (click)="Download()">Descargar visitas</button>
        <button mat-stroked-button class="btn-download-left" *ngIf="hideVisit" (click)="NumVisits()">Visualizar visitas</button>

        

        <ng-container *ngIf="dataSource.data.length>0">

            <div class="div-action example-button-row">
                <button mat-icon-button (click)="Download()" aria-label="Descargar informacion en csv">
                    <mat-icon>download</mat-icon>
                </button>
    
                <button mat-icon-button (click)="GetVist()" aria-label="Actualizar informacion">
                    <mat-icon>update</mat-icon>
                </button>
            </div>
              
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
    
                <ng-container matColumnDef="Customer">
                    <th mat-header-cell *matHeaderCellDef>Cliente</th>
                    <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Adviser">
                    <th mat-header-cell *matHeaderCellDef>Asesor comercial</th>
                    <td mat-cell *matCellDef="let element"> {{element.seller}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Fecha">
                    <th mat-header-cell *matHeaderCellDef>Fecha</th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Nit cliente">
                    <th mat-header-cell *matHeaderCellDef>Nit cliente</th>
                    <td mat-cell *matCellDef="let element"> {{element.nit}} </td>
                </ng-container>
    
                <ng-container matColumnDef="Accion">
                    <th mat-header-cell *matHeaderCellDef>Accion</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="refreshTurns(element.id_turno,element.nit)">Solicitar turno</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </ng-container>
        
        
    </mat-card-content>
</mat-card>
